[type="button"]{
	cursor: pointer;
}
.joomdev-wss-options-box{
	display: table;
	background-color: #fff;
	border: 1px solid #dedede;
	min-width: 100%;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}
.joomdev-wss-options-box-sidebar{
	display: table-cell;
	width: 20%;
	background-color: #23282d;
	vertical-align: top;
}
.joomdev-wss-options-box-main{
	display: table-cell;
	width: 80%;
	background-color: #fff;
	vertical-align: top;
}
.joomdev-wss-options-box-logo{
	display: block;
	background-color: #0073aa;
	text-align: center;
    padding: 10px;
    min-height: 180px;
    color: #fff;
}
.joomdev-wss-options-box-logo a{
	text-decoration: none;
}
.joomdev-wss-options-box-logo h2, .joomdev-wss-options-box-logo h3{
	color: #fff;
	margin: 0;
	padding: 30px;
}
.joomdev-wss-options-box-menubar ul{
	list-style-type: none;
	margin: 40px 0;
	padding: 0;
}
.joomdev-wss-options-box-menubar ul li{
	list-style-type: none;
}
.joomdev-wss-options-box-menubar ul li a{
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
	font-size: 14px;
	display: block;
}
.joomdev-wss-options-box-menubar ul li a .fa{
	margin-right: 10px;
}
.joomdev-wss-options-box-menubar ul li a:hover, .joomdev-wss-options-box-menubar ul li.active a{
	background-color: #191e23;
	color: #00b9eb;
}
.button-submit{
	background-color: #00a0d2 !important;
	color: #fff !important;
	height: 35px !important;
	line-height: 29px !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	text-shadow: none !important;
	border-color: #006799 !important;
	padding: 0 20px !important;
}
.joomdev-wss-options-box-actions-header{
	display: block;
	border-bottom: 1px solid #dedede;
	text-align: right;
	padding: 13px 20px;
}
.joomdev-wss-options-box-actions-footer{
	display: block;
	border-top: 1px solid #dedede;
	text-align: right;
	padding: 13px 20px;
}
.joomdev-wss-options-box-options{
	padding: 20px;
}
.joomdev-wss-options-box-options-single-option{
	display: table;
	min-width: 100%;
}
.joomdev-wss-options-box-sided{
	display: table-cell;
}
.joomdev-wss-options-box-sided.first-cell{
	width: 35%;
	padding-right: 20px;
}
.joomdev-wss-options-box-sided.second-cell{
	width: 65%;
	vertical-align: middle;
}
.joomdev-wss-options-box-options-single-title{
	background-color: #f4f2f2;
	padding: 10px;
}
.joomdev-networks-popup-open{
	background-color: #00b200 !important;
	color: #fff !important;
	height: 35px !important;
	line-height: 29px !important;
	border-radius: 0 !important;
	box-shadow: none !important;
	text-shadow: none !important;
	border-color: #007f00 !important;
	padding: 0 20px !important;
}

.joomdev-networks-popup{
	position: fixed;
	max-width: 700px;
	width: 100%;
	top: 50px;
	left: 50%;
	background-color: #fff;
	border-radius: 3px;
	z-index: 11;
	margin: auto;
	transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transform: translateX(-50%);
}
/*.joomdev-networks-popup-outlay{*/
.joomdev-networks-popup-outlay-bg{
	background-color: rgba(0,0,0,0.5);
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1;
}
.joomdev-networks-popup-outlay-toggle .joomdev-networks-popup-outlay-bg{
	display: none;
}
.joomdev-networks-popup-outlay-toggle .joomdev-networks-popup{
	top: -1000px;
}
.joomdev-networks-popup-header{
	border-bottom: 1px solid #f1f1f1;
	padding: 0 20px;
}
.joomdev-networks-popup-header:before, .joomdev-networks-popup-header:after{
	content: "";
	clear: both;
	display: block;
}
.joomdev-networks-popup-header .joomdev-networks-popup-close{
	float: right;
	margin: 20px auto;
	background-color: transparent;
    border: none;
}
.joomdev-networks-popup-title{
	float: left;
}
.joomdev-networks-popup-content{
	padding: 20px;
	max-height: 600px;
	overflow: auto;
}
.joomdev-networks-popup-footer{
	padding: 20px;
	text-align: right;
	border-top: 1px solid #f1f1f1;
}
.joomdev-networks-wrapper{
	display: block;
	position: relative;
	width: 100%;
}
.joomdev-networks-single{
	width: 30%;
	display: inline-block;
	margin-bottom: 10px;
    margin-right: 10px;
}
.joomdev-networks-single-button{
	display: block;
	padding: 3px 5px;
	border: 1px solid #f1f1f1;
	text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    line-height: 40px;
}
.joomdev-networks-single-icon-second.fa.fa-check, .joomdev-networks-single-icon-second.fa.fa-close{
	display: none;
}
.joomdev-networks-single.joomdev-networks-single-selected .joomdev-networks-single-icon-second.fa.fa-check{
	display: inline;
} 
.joomdev-networks-single.joomdev-networks-single-selected:hover .joomdev-networks-single-icon-second.fa.fa-close{
	display: inline;
}
.joomdev-networks-single.joomdev-networks-single-selected:hover .joomdev-networks-single-icon-second.fa.fa-check{
	display: none;
}
.joomdev-networks-single.joomdev-networks-single-selected .joomdev-networks-single-icon-second.fa.fa-plus{
	display: none;
}