.joomdev-wss-social-share-buttons {
    display: block;
    width: 100%;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-incentive {
    font-size: 20px;
    line-height: 1.2;
    margin: 0;
    padding: 15px 0 5px;
    display: block;
}

.joomdev-wss-social-share-buttons .joomdev-wss-share-count-total {
    padding: 5px 0;
    margin: 0 0 15px;
    position: relative;
    display: inline-block;
    text-align: center;
}

.joomdev-wss-social-share-buttons .joomdev-wss-share-count-total .jd-share-count {
    font-size: 27px;
    line-height: 21px;
    padding: 0;
    color: #7cbf4b;
    text-align: center;
    vertical-align: middle;
}

.joomdev-wss-social-share-buttons .joomdev-wss-share-count-total .jd-share-title {
    padding: 5px 0;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    position: relative;
    display: block;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button {
    display: inline-block;
    width: 175px;
    position: relative;
    margin-right: 5px;
    margin-bottom: 0;
    overflow: hidden;
}

.joomdev-wss-share-count {
    display: block;
    position: absolute;
    padding: 2px 12px;
    background-color: #ccc;
    color: #444;
    border-radius: 2px;
    top: -70%;
    left: 50%;
    transform: translateX(-50%);
}

.joomdev-wss-share-count:after {
    display: block;
    content: "";
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top-color: #ccc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button.joomdev-wss-social-share-icon_only {
    width: unset;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a {
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    line-height: 40px;
    width: 175px;
    height: 41px;
    font-weight: 600;
    border-radius: 4px;
    text-align: center;
    position: relative;
    transition: all .5s ease;
    overflow: hidden;
    border: none !important;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-3 {
    padding-left: 25px;
}


.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button.joomdev-wss-social-share-icon_only a {
    padding: 0 !important;
    width: 45px;
    height: 45px;
    line-height: 45px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button.joomdev-wss-social-share-icon_only a .fa {
    height: 45px;
    line-height: 45px;
    font-size: 15px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button.joomdev-wss-social-share-icon_only a:hover .fa {
    width: 45px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-icon_only span {
    display: none;
}

.joomdev-wss-social-share-more-buttons {
    font-size: 16px;
    color: #fff !important;
    border: rgba(255, 89, 3, 1);
    background-color: rgba(255, 89, 3, 1);
    padding: 11px 20px;
}

/* 
===================================================================================================
manage shapes 
===================================================================================================
*/

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-shape-1 {
    border-radius: 0;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-shape-2 {
    border-radius: 5px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-shape-3 {
    border-radius: 20px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-2 {
    padding-left: 30px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button.joomdev-wss-social-share-icon_only a.joomdev-wss-button-shape-3 {
    border-radius: 50%;
    font-size: 0;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button.joomdev-wss-social-share-icon_only a.joomdev-wss-button-animation-2 .fa {
    width: 100%;
    line-height: 45px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button.joomdev-wss-social-share-icon_only a.joomdev-wss-button-animation-3:hover .fa {
    background-color: inherit;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-icon_only.joomdev-wss-button-animation-3 .fa:after {
    display: none;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button.joomdev-wss-social-share-icon_only a.joomdev-wss-button-animation-2 .fa:nth-child(1) {
    top: -45px;
}

/* 
===================================================================================================
manage animation 
===================================================================================================
*/

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-1 {
    text-align: center;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-2 .fa {
    top: -40px;
    vertical-align: middle;
    line-height: 41px;
    background: rgba(0, 0, 0, 0.1);
    left: 0px;
    width: 40px;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease;
    border-radius: 4px 0 0 4px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-2 .fa:nth-child(3) {
    display: block;
    top: 0px;
    background: rgba(255, 255, 255, 0.1);
    vertical-align: middle;
    background: rgba(0, 0, 0, 0.1);
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-2:hover .fa:nth-child(1) {
    display: block;
    top: 0px;
    background: rgba(255, 255, 255, 0.1);
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-2:hover .fa:nth-child(3) {
    top: 45px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-3 .fa,
.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-4 .fa {
    top: 0;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-3 .fa {
    vertical-align: middle;
    line-height: 45px;
    left: 0px;
    width: 45px;
    height: 45px;
    position: absolute;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease;
    text-align: center;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-text_and_icons.joomdev-wss-button-animation-3 .fa {
    line-height: 41px;
    height: 41px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-3:hover .fa {
    -moz-animation: rotateIcon 0.4s linear;
    -webkit-animation: rotateIcon 0.4s linear;
    animation: rotateIcon 0.4s linear;
}

/* Safari 4.0 - 8.0 */

@-webkit-keyframes rotateIcon {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.7);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

/* Standard syntax */

@keyframes rotateIcon {
    0% {
        transform: rotate(0) scale(1);
    }
    50% {
        transform: rotate(180deg) scale(1.7);
    }
    100% {
        transform: rotate(360deg) scale(1);
    }
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-4 .fa {
    text-align: center;
    transition: all 0.3s ease;
    vertical-align: middle;
    line-height: 45px;
    background: rgba(0, 0, 0, 0.1);
    width: 45px;
    font-size: 16px;
    font-weight: 400;
    transition: all 0.5s ease;
    float: left;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-text_and_icons.joomdev-wss-button-animation-4 .fa {
    height: 41px;
    line-height: 41px;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-animation-4:hover .fa {
    width: 100%;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.1);
    background: rgba(0, 0, 0, 0.4);
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button.joomdev-wss-social-share-icon_only a:hover .fa {
    width: 45px;
}

/*
======================================================================================================================
Siderbar icon
======================================================================================================================
*/

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar {
    display: block;
    position: fixed;
    top: 50%;
    left: 5px;
    right: auto;
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: auto;
    z-index: 99999999999;
}

.joomdev-wss-social-share-buttons-sidebar-inner-container,
.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

/*Share counter*/

.joomdev-wss-social-share-buttons-sidebar-inner-container .joomdev-wss-share-count-total {
    background: #fff;
    color: #555;
    display: inline-block;
    font-weight: 500;
    line-height: 18px;
    margin-right: 0;
    min-height: 34px;
    opacity: 1;
    padding: 4px 0;
    text-align: center;
    width: auto;
    margin: 0 0 2px;
}

.joomdev-wss-social-share-buttons-sidebar-inner-container .joomdev-wss-share-count-total .jd-share-count {
    font-size: 18px;
    line-height: 21px;
    padding: 0;
    display: block;
    color: #7cbf4b;
    text-align: center;
    vertical-align: middle;
}

.joomdev-wss-social-share-buttons-sidebar-inner-container .joomdev-wss-share-count-total .jd-share-title {
    padding: 0 5px;
    display: block;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    vertical-align: middle;
    color: #333;
}

/*end share counter*/

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-button {
    width: 50px;
    height: 45px;
    margin: 0 0 2px;
}

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-button-text_and_icons {
    font-size: 0;
    width: 40px;
    overflow: visible;
}

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-button-text_and_icons .fa {
    font-size: 15px;
    line-height: 41px;
    margin: 0 !important;
    width: 40px !important;
}

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-button a.joomdev-wss-button-shape-3,
.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-button a.joomdev-wss-button-shape-2 {
    padding-left: 0;
}

.joomdev-wss-social-share-buttons-sidebar-inner-container a.joomdev-wss-button-icon_only.joomdev-wss-button-shape-3.joomdev-wss-button-animation-2 {
    overflow: hidden;
}

.joomdev-wss-social-share-buttons-sidebar-inner-container a.joomdev-wss-button-icon_only.joomdev-wss-button-animation-2 .fa.fa-ellipsis-h:nth-child(1) {
    top: 0 !important;
}

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-buttons-sidebar-inner-container a.joomdev-wss-button-animation-1 {
    overflow: hidden;
}

/*Shape 3 and animation 2*/

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-buttons-sidebar-inner-container a.joomdev-wss-button-shape-3.joomdev-wss-button-animation-2 {
    overflow: hidden;
}

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-buttons-sidebar-inner-container a.joomdev-wss-button-animation-2 .fa.fa-ellipsis-h {
    top: 0;
}

/*Shape 3 and animation 3*/

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-buttons-sidebar-inner-container a.joomdev-wss-button-shape-3.joomdev-wss-button-animation-3,
.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-buttons-sidebar-inner-container a.joomdev-wss-button-shape-3.joomdev-wss-button-animation-3 .fa {
    border-radius: 100%;
    height: 41px;
    width: 41px;
    line-height: 41px;
}

/*Shape 3 and animation 4*/

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-buttons-sidebar-inner-container a.joomdev-wss-button-shape-3.joomdev-wss-button-animation-4 .fa {
    border-radius: 50%;
}

/*
======================================================================================================================
Social link colors
======================================================================================================================
*/

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-facebook {
    /*color: #3a579a;*/
    background-color: #3a579a;
    border: 1px solid #3a579a;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-facebook:hover {
    /*color: #3a579a;*/
    background-color: #3a579a;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-twitter {
    /*color: #00abf0;*/
    background-color: #00abf0;
    border: 1px solid #00abf0;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-twitter:hover {
    /*color: #00abf0;*/
    background-color: #00abf0;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-googleplus {
    /*color: #df4a32;*/
    background-color: #df4a32;
    border: 1px solid #df4a32;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-googleplus:hover {
    /*color: #df4a32;*/
    background-color: #df4a32;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-buffer {
    /*color: #222222;*/
    background-color: #222222;
    border: 1px solid #222222;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-buffer:hover {
    /*color: #222222;*/
    background-color: #222222;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-digg {
    /*color: #546b9f;*/
    background-color: #546b9f;
    border: 1px solid #546b9f;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-digg:hover {
    /*color: #546b9f;*/
    background-color: #546b9f;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-evernote {
    /*color: #7cbf4b;*/
    background-color: #7cbf4b;
    border: 1px solid #7cbf4b;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-evernote:hover {
    /*color: #7cbf4b;*/
    background-color: #7cbf4b;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-pinterest {
    /*color: #cd1c1f;*/
    background-color: #cd1c1f;
    border: 1px solid #cd1c1f;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-pinterest:hover {
    /*color: #cd1c1f;*/
    background-color: #cd1c1f;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-friendfeed {
    /*color: #5989c0;*/
    background-color: #5989c0;
    border: 1px solid #5989c0;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-friendfeed:hover {
    /*color: #5989c0;*/
    background-color: #5989c0;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-hackernews {
    /*color: #f08641;*/
    background-color: #f08641;
    border: 1px solid #f08641;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-hackernews:hover {
    /*color: #f08641;*/
    background-color: #f08641;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-livejournal {
    /*color: #336697;*/
    background-color: #336697;
    border: 1px solid #336697;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-livejournal:hover {
    /*color: #336697;*/
    background-color: #336697;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-newsvine {
    /*color: #0d642e;*/
    background-color: #0d642e;
    border: 1px solid #0d642e;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-newsvine:hover {
    /*color: #0d642e;*/
    background-color: #0d642e;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-aol {
    /*color: #222222;*/
    background-color: #222222;
    border: 1px solid #222222;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-aol:hover {
    /*color: #222222;*/
    background-color: #222222;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-gmail {
    /*color: #dd4b39;*/
    background-color: #dd4b39;
    border: 1px solid #dd4b39;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-gmail:hover {
    /*color: #dd4b39;*/
    background-color: #dd4b39;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-printfriendly {
    /*color: #75aa33;*/
    background-color: #75aa33;
    border: 1px solid #75aa33;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-printfriendly:hover {
    /*color: #75aa33;*/
    background-color: #75aa33;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-yahoomail {
    /*color: #511295;*/
    background-color: #511295;
    border: 1px solid #511295;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-yahoomail:hover {
    /*color: #511295;*/
    background-color: #511295;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-delicious {
    /*color: #3398fc;*/
    background-color: #3398fc;
    border: 1px solid #3398fc;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-delicious:hover {
    /*color: #3398fc;*/
    background-color: #3398fc;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-reddit {
    /*color: #fc461e;*/
    background-color: #fc461e;
    border: 1px solid #fc461e;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-reddit:hover {
    /*color: #fc461e;*/
    background-color: #fc461e;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-vkontakte {
    /*color: #4c75a3;*/
    background-color: #4c75a3;
    border: 1px solid #4c75a3;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-vkontakte:hover {
    /*color: #4c75a3;*/
    background-color: #4c75a3;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-linkedin {
    /*color: #127bb6;*/
    background-color: #127bb6;
    border: 1px solid #127bb6;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-linkedin:hover {
    /*color: #127bb6;*/
    background-color: #127bb6;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-myspace {
    /*color: #3a5998;*/
    background-color: #3a5998;
    border: 1px solid #3a5998;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-myspace:hover {
    /*color: #3a5998;*/
    background-color: #3a5998;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-blogger {
    /*color: #f59038;*/
    background-color: #f59038;
    border: 1px solid #f59038;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-blogger:hover {
    /*color: #f59038;*/
    background-color: #f59038;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-stumbleupon {
    /*color: #ea4b24;*/
    background-color: #ea4b24;
    border: 1px solid #ea4b24;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-stumbleupon:hover {
    /*color: #ea4b24;*/
    background-color: #ea4b24;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-tumblr {
    /*color: #32506d;*/
    background-color: #32506d;
    border: 1px solid #32506d;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-tumblr:hover {
    /*color: #32506d;*/
    background-color: #32506d;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-whatsapp {
    /*color: #2cb742;*/
    background-color: #2cb742;
    border: 1px solid #2cb742;
}

.joomdev-wss-social-share-buttons .joomdev-wss-social-share-button a.joomdev-wss-button-whatsapp:hover {
    /*color: #2cb742;*/
    background-color: #2cb742;
}


/*
===================================================================================================================
Media box css
===================================================================================================================
*/

.joomdev-wss-social-share-buttons-media {
    display: none;
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    white-space: normal;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 5px;
}

.joomdev-wss-social-share-buttons-media-wrapper {
    position: relative;
    display: inline-block;
}

.joomdev-wss-social-share-buttons-media-wrapper:hover .joomdev-wss-social-share-buttons-media {
    display: block;
}

/*
====================================================================================================================
More networks
====================================================================================================================
*/

.joomdev-wss-social-share-popup-more {
    position: absolute;
    width: 235px;
    top: 0;
    /* left: 60px; */
    left: -500px;
    background-color: #fff;
    padding: 10px;
    padding-right: 5px;
    box-shadow: 0 0 10px 0px #000;
    border-radius: 2px;
    transition: all 0.2s linear;
}

.joomdev-wss-social-share-popup-more.joomdev-wss-social-share-popup-more-show {
    left: 60px;
    transition: all 0.2s linear;
}

.joomdev-wss-social-share-popup-more:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 18px;
    left: -13px;
    box-sizing: border-box;
    border: 10px solid black;
    border-color: #fff transparent transparent #fff;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    box-shadow: -3px -3px 3px 0 rgba(0, 0, 0, 0.4);
}

.joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-popup-more .joomdev-wss-social-share-button {
    display: inline-block;
}

@media (max-height: 320px) {
    .joomdev-wss-social-share-buttons-sidebar-inner-container .joomdev-wss-share-count-total {
        margin: 0;
    }
    .joomdev-wss-social-share-buttons-sidebar-inner-container .joomdev-wss-share-count-total .jd-share-count {
        font-size: 14px;
        line-height: 18px;
    }
    .joomdev-wss-social-share-buttons-sidebar-inner-container .joomdev-wss-share-count-total .jd-share-title {
        font-size: 10px;
        line-height: 12px;
    }
    .joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-button {
        width: 28px;
        height: 28px;
    }

    .joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-buttons-sidebar-inner-container .joomdev-wss-social-share-button a {
        width: 28px !important;
        height: 28px !important;
        line-height: 28px;
    }
    .joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-buttons-sidebar-inner-container .joomdev-wss-social-share-button a .fa {
        font-size: 12px !important;
        line-height: 28px !important;
        width: 28px !important;
        height: 28px;
    }
    .joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-button a.joomdev-wss-button-animation-3:hover,
    .joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-button a.joomdev-wss-button-animation-3 {
        padding-left: 20px;
        overflow: hidden;
    }
    .joomdev-wss-social-share-buttons.joomdev-wss-social-share-buttons-sidebar .joomdev-wss-social-share-button a.joomdev-wss-button-animation-3 .fa:after {
        top: 6px;
    }

}

@media (max-width: 319px) and (max-height: 320px) {
    .joomdev-wss-social-share-popup-more {
        width: 148px;
        padding-right: 5px;
    }
    .joomdev-wss-social-share-popup-more.joomdev-wss-social-share-popup-more-show {
        left: 45px;
    }
    .joomdev-wss-social-share-popup-more:before {
        bottom: 24px;
    }
}
